@import 'variables';

.about-me {
  height: 350px;
  background-color: $background-color-1;
  animation: about-me 0.5s linear both 3.5s;
  .small-width article {
    width: 40%;
    height: 300px; 
    font-size: 20px;
    text-align: center;
    padding: 3% 2%;
    color: $text-color-1;
  }
  .small-width {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    animation: about-me 0.5s linear both 3.5s;
  }
}
@keyframes about-me {
  0% {
    transform: translate(0, 300px) scale(1);
    opacity: 0;
  }
  100% {
    transform: translate(0,0) scale(1);
    opacity: 1;
  }
}
.picture {
  width: 75%;
  height: 100%;
  border-radius: 25%;
  background: grey;
  background-image: url('../images/cv.jpg');
  background-size: cover;
}
.belt {
  height: 79px;
  animation: start-height 0.5s linear both 4s;
}
@keyframes start-height {
  from {height: 0}
  to {height: 79px}
}
.belt-color1 {
  animation: belt-color1 0.5s linear forwards;
}
.belt-color2 {
  animation: belt-color1 0.5s linear forwards reverse;
}
@keyframes belt-color1 {
  from {background-color: $background-color-2}
  to {background-color: $background-color-1}
}
@media screen and (max-width: 640px) {
  .about-me {
    height: 200px;
    .small-width article {
      width: 380px;
      height: 200px; 
      font-size: 15px;
      padding: 5px;
    }
  }
  .belt {
    height: 25px;
    animation: start-height 0.5s linear forwards;
  }
  @keyframes start-height {
    from {height: 0}
    to {height: 25px}
  }
}
@media screen and (min-width: 641px) and (max-width: 1024px) {
  .about-me {
    height: 300px;
    .small-width {
      article {
      width: 380px;
      height: 300px; 
      font-size: 17px;
      padding: 4%;
      }
    }
  }
  .belt {
    height: 25px;
    animation: start-height 0.5s linear forwards;
  }
  @keyframes start-height {
    from {height: 0}
    to {height: 25px}
  }
}