@import 'variables';

@media screen and (max-width: 1024px) {
  .contacts {
    display: none;
    // .contacts-element {
    //   margin: 10px 0;
    //   width: 40%;
    //   height: 60px;
    //   font-size: 24px;
    // }
  }
  // .contact-move1 {
  //   animation: contact-move1 1s linear forwards 0.1s, 
  //              color-contacts 1s linear forwards; 
  // }
//   @keyframes contact-move1 {
//     0% {
//       height: 100%;
//       transform: translateY(0)
//     }
//     100% {
//       height: 120px;
//       padding-top: 30px;
//       font-size: 30px;
//       transform: translateY(-700px)
//     }
//   }
//   .contact-move2 {
//     animation: contact-move2 1s linear forwards 0.1s, 
//                color-contacts 1s linear forwards; 
//   }
//   @keyframes contact-move2 {
//     0% {
//       height: 100%;
//       transform: translateY(0)
//     }
//     100% {
//       height: 120px;
//       padding-top: 30px;
//       font-size: 30px;
//       transform: translateY(-550px)
//     }
//   }
//   .contact-move3 {
//     animation: contact-move3 1s linear forwards 0.1s, 
//                color-contacts 1s linear forwards; 
//   }
//   @keyframes contact-move3 {
//     0% {
//       height: 100%;
//       transform: translateY(0)
//     }
//     100% {
//       height: 120px;
//       padding-top: 30px;
//       font-size: 30px;
//       transform: translateY(-400px)
//     }
//   }
//   .contact-move4 {
//     animation: contact-move4 1s linear forwards 0.1s, 
//                color-contacts 1s linear forwards; 
//   }
//   @keyframes contact-move4 {
//     0% {
//       height: 100%;
//       transform: translateY(0)
//     }
//     100% {
//       height: 120px;
//       padding-top: 30px;
//       font-size: 30px;
//       transform: translateY(-250px)
//     }
//   }
//   @keyframes color-contacts {
//     from {background-color: $background-color-1; color: $text-color-1}
//     to {background-color: $text-color-1; color: $background-color-1}
//   }
//   .contact-move1-remove {
//     animation: contact-move1-remove 0.5s linear forwards, 
//                color-contacts-back 0.5s linear forwards;
//   }
//   @keyframes contact-move1-remove {
//     0% {
//       height: 120px;
//       transform: translateY(-700px)
//     }
//     100% {
//       height: 100%;
//       padding-top: 0  ;
//       font-size: 24px;
//       transform: translateY(0)
//     }
//   }
//   .contact-move2-remove {
//     animation: contact-move2-remove 0.5s linear forwards, 
//                color-contacts-back 0.5s linear forwards;
//   }
//   @keyframes contact-move2-remove {
//     0% {
//       height: 120px;
//       transform: translateY(-550px)
//     }
//     100% {
//       height: 100%;
//       padding-top: 0  ;
//       font-size: 24px;
//       transform: translateY(0)
//     }
//   }
//   .contact-move3-remove {
//     animation: contact-move3-remove 0.5s linear forwards, 
//                color-contacts-back 0.5s linear forwards;
//   }
//   @keyframes contact-move3-remove {
//     0% {
//       height: 120px;
//       transform: translateY(-400px)
//     }
//     100% {
//       height: 100%;
//       padding-top: 0  ;
//       font-size: 24px;
//       transform: translateY(0)
//     }
//   }
//   .contact-move4-remove {
//     animation: contact-move4-remove 0.5s linear forwards, 
//                color-contacts-back 0.5s linear forwards;
//   }
//   @keyframes contact-move4-remove {
//     0% {
//       height: 120px;
//       transform: translateY(-250px)
//     }
//     100% {
//       height: 100%;
//       padding-top: 0  ;
//       font-size: 24px;
//       transform: translateY(0)
//     }
//   }
//   @keyframes color-contacts-back {
//     from {background-color: $text-color-1; color: $background-color-1}
//     to {background-color: $background-color-1}
//   }
}

@media screen and (min-width: 1025px) {
.contacts {
  .small-width {
    display: flex;
    flex-wrap: wrap;
    width: 1024px;
    margin: 30px auto;
    justify-content: space-around;
  }
  .contacts-element {
    width: 22%;
    height: 50px;
    text-align: center;
    transition: 2s;
    &:nth-child(1) {
      animation: contacts1 1s linear both 3.5s;
    }
    &:nth-child(2) {
      animation: contacts2 1s linear both 3.5s;
    }
    &:nth-child(3) {
      animation: contacts3 1s linear both 3.5s;
    }
    &:nth-child(4) {
      animation: contacts4 1s linear both 3.5s;
    }
  }
  a {
    background-color: $background-color-1;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 0;
    text-decoration: none;
    color: $text-color-1;
    transition: 1s;
    &:hover {
      border-radius: 15px;
      transition: 0.5s;
      color: #FFEC0D !important;
    }
  }
}
.blue-background {
  background-color: $background-color-1;
  margin: 0 !important;
  height: 120%;
}
@keyframes contacts1 {
  0% {
    transform: translate(385px, -50px)
               rotate(90deg)
               scale(0);
    opacity: 0;
  }
  20% {
    transform: translate(385px, -20px)
               rotate(90deg)
               scale(0.3);
    opacity: 1;
  }
  80% {
    transform: translate(180px, 0)
               rotate(10deg)
               scale(0.5);
    opacity: 1  }
  100% {
    transform: translate(0, 0)
               rotate(0)
               scale(1);
    opacity: 1;
  }
}
@keyframes contacts2 {
  0% {
    transform: translate(130px, -50px)
               rotate(90deg)
               scale(0);
    opacity: 0;
  }
  20% {
    transform: translate(130px, -20px)
               rotate(90deg)
               scale(0.3);
    opacity: 0.2;
  }
  80% {
    transform: translate(60px, 0)
               rotate(10deg)
               scale(0.5);
    opacity: 1;
  }
  100% {
    transform: translate(0, 0)
               rotate(0)
               scale(1);
    opacity: 1;
  }
}
@keyframes contacts3 {
  0% {
    transform: translate(-130px, -50px)
               rotate(-90deg)
               scale(0);
    opacity: 0;
  }
  20% {
    transform: translate(-130px, -20px)
               rotate(-90deg)
               scale(0.3);
    opacity: 0.2;
  }
  80% {
    transform: translate(-60px, 0)
               rotate(-10deg)
               scale(0.5);
    opacity: 1;
  }
  100% {
    transform: translate(0, 0)
               rotate(0)
               scale(1);
    opacity: 1;
  }
}
@keyframes contacts4 {
  0% {
    transform: translate(-385px, -50px)
               rotate(-90deg)
               scale(0);
    opacity: 0;
  }
  20% {
    transform: translate(-385px, -20px)
               rotate(-90deg)
               scale(0.3);
    opacity: 0.2;
  }
  80% {
    transform: translate(-180px, 0)
               rotate(-10deg)
               scale(0.5);
    opacity: 1;
  }
  100% {
    transform: translate(0, 0)
               rotate(0)
               scale(1);
    opacity: 1;
  }
}

  .contact-move1 {
    animation: contact-move1 1s linear forwards 0.1s, 
               color-contacts 1s linear forwards; 
  }
  @keyframes contact-move1 {
    0% {
      height: 100%;
      transform: translate(0,0);
    }
    33% {
      height: 150px;
      padding-top: 40px;
      transform: translate(0,-500px);
    }
    66% {
      height: 150px;
      padding-top: 40px;
      transform: translate(255px, -500px);
    }
    100% {
      height: 150px;
      padding-top: 40px;
      transform: translate(205px, -580px)
                 scale(1.5);
    }
  }
  .contact-move2 {
    animation: contact-move2 1s linear forwards 0.1s, 
               color-contacts 1s linear forwards; 
  }
  @keyframes contact-move2 {
    0% {
      height: 100%;
      transform: translate(0,0);
    }
    33% {
      height: 150px;
      padding-top: 40px;
      transform: translate(0,-320px);
    }
    66% {
      height: 150px;
      padding-top: 40px;
      transform: translate(0, -320px);
    }
    100% {
      height: 150px;
      padding-top: 40px;
      transform: translate(-50px, -300px)
                 scale(1.5);
    }
  }
  .contact-move3 {
    animation: contact-move3 1s linear forwards 0.1s, 
               color-contacts 1s linear forwards; 
  }
  @keyframes contact-move3 {
    0% {
      height: 100%;
      transform: translate(0,0);
    }
    33% {
      height: 150px;
      padding-top: 40px;
      transform: translate(0,-320px);
    }
    66% {
      height: 150px;
      padding-top: 40px;
      transform: translate(0, -320px);
    }
    100% {
      height: 150px;
      padding-top: 40px;
      transform: translate(75px, -300px)
                 scale(1.5);
    }
  }
  .contact-move4 {
    animation: contact-move4 1s linear forwards 0.1s, 
               color-contacts 1s linear forwards; 
  }
  @keyframes contact-move4 {
    0% {
      height: 100%;
      transform: translate(0,0);
    }
    33% {
      height: 150px;
      padding-top: 40px;
      transform: translate(0,-500px);
    }
    66% {
      height: 150px;
      padding-top: 40px;
      transform: translate(-255px, -500px);
    }
    100% {
      height: 150px;
      padding-top: 40px;
      transform: translate(-180px, -580px)
                 scale(1.5);
    }
  }
  @keyframes color-contacts {
    from {background-color: $background-color-1; color: $text-color-1}
    to {background-color: white; color: $text-color-2}
  }
  .contact-move1-remove {
    animation: contact-move1-remove 0.5s linear forwards, 
               color-contacts-back 0.5s linear forwards;
  }
  @keyframes contact-move1-remove {
    from {
      height: 150px;
      padding-top: 40px;
      transform: translate(205px, -550px)
                 scale(1.5);}
    to {
      height: 50px;
      transform: translate(0, 0)
                 scale(1);
    }
  }
  .contact-move2-remove {
    animation: contact-move2-remove 0.5s linear forwards, 
               color-contacts-back 0.5s linear forwards;
  }
  @keyframes contact-move2-remove {
    from {
      height: 150px;
      padding-top: 40px;
      transform: translate(-50px, -270px)
                 scale(1.5);}
    to {
      height: 50px;
      transform: translate(0, 0)
                 scale(1);
    }
  }
  .contact-move3-remove {
    animation: contact-move3-remove 0.5s linear forwards, 
               color-contacts-back 0.5s linear forwards;
  }
  @keyframes contact-move3-remove {
    from {
      height: 150px;
      padding-top: 40px;
      transform: translate(75px, -270px)
                 scale(1.5);}
    to {
      height: 50px;
      transform: translate(0, 0)
                 scale(1);
    }
  }
  .contact-move4-remove {
    animation: contact-move4-remove 0.5s linear forwards, 
               color-contacts-back 0.5s linear forwards;
  }
  @keyframes contact-move4-remove {
    from {
      height: 150px;
      padding-top: 40px;
      transform: translate(-180px, -550px)
                 scale(1.5);}
    to {
      height: 50px;
      transform: translate(0, 0)
                 scale(1);
    }
  }
  @keyframes color-contacts-back {
    from {background-color: $background-color-2; color: $text-color-2}
    to {background-color: $background-color-1}
    }
  }

  @media screen and (max-width: 1024px) {
    .contacts {
      .contacts-element {
        margin: 10px 0;
        width: 40%;
        height: 60px;
        font-size: 24px;
      }
    }
    .contact-move1 {
      animation: contact-move1 1s linear forwards 0.1s, 
                 color-contacts 1s linear forwards; 
    }
    @keyframes contact-move1 {
      0% {
        height: 100%;
        transform: translateY(0)
      }
      100% {
        height: 120px;
        padding-top: 30px;
        font-size: 30px;
        transform: translateY(-700px)
      }
    }
    .contact-move2 {
      animation: contact-move2 1s linear forwards 0.1s, 
                 color-contacts 1s linear forwards; 
    }
    @keyframes contact-move2 {
      0% {
        height: 100%;
        transform: translateY(0)
      }
      100% {
        height: 120px;
        padding-top: 30px;
        font-size: 30px;
        transform: translateY(-550px)
      }
    }
    .contact-move3 {
      animation: contact-move3 1s linear forwards 0.1s, 
                 color-contacts 1s linear forwards; 
    }
    @keyframes contact-move3 {
      0% {
        height: 100%;
        transform: translateY(0)
      }
      100% {
        height: 120px;
        padding-top: 30px;
        font-size: 30px;
        transform: translateY(-400px)
      }
    }
    .contact-move4 {
      animation: contact-move4 1s linear forwards 0.1s, 
                 color-contacts 1s linear forwards; 
    }
    @keyframes contact-move4 {
      0% {
        height: 100%;
        transform: translateY(0)
      }
      100% {
        height: 120px;
        padding-top: 30px;
        font-size: 30px;
        transform: translateY(-250px)
      }
    }
    @keyframes color-contacts {
      from {background-color: $background-color-1; color: $text-color-1}
      to {background-color: $text-color-1; color: $background-color-1}
    }
    .contact-move1-remove {
      animation: contact-move1-remove 0.5s linear forwards, 
                 color-contacts-back 0.5s linear forwards;
    }
    @keyframes contact-move1-remove {
      0% {
        height: 120px;
        transform: translateY(-700px)
      }
      100% {
        height: 100%;
        padding-top: 0  ;
        font-size: 24px;
        transform: translateY(0)
      }
    }
    .contact-move2-remove {
      animation: contact-move2-remove 0.5s linear forwards, 
                 color-contacts-back 0.5s linear forwards;
    }
    @keyframes contact-move2-remove {
      0% {
        height: 120px;
        transform: translateY(-550px)
      }
      100% {
        height: 100%;
        padding-top: 0  ;
        font-size: 24px;
        transform: translateY(0)
      }
    }
    .contact-move3-remove {
      animation: contact-move3-remove 0.5s linear forwards, 
                 color-contacts-back 0.5s linear forwards;
    }
    @keyframes contact-move3-remove {
      0% {
        height: 120px;
        transform: translateY(-400px)
      }
      100% {
        height: 100%;
        padding-top: 0  ;
        font-size: 24px;
        transform: translateY(0)
      }
    }
    .contact-move4-remove {
      animation: contact-move4-remove 0.5s linear forwards, 
                 color-contacts-back 0.5s linear forwards;
    }
    @keyframes contact-move4-remove {
      0% {
        height: 120px;
        transform: translateY(-250px)
      }
      100% {
        height: 100%;
        padding-top: 0  ;
        font-size: 24px;
        transform: translateY(0)
      }
    }
    @keyframes color-contacts-back {
      from {background-color: $text-color-1; color: $background-color-1}
      to {background-color: $background-color-1}
    }
  }