@import 'variables';

footer {
  background-color: $background-color-1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFEC0D;
}
@media screen and (max-width: 1024px) {
  footer {
    font-size: 10px;
    padding: 10px;
  }
}
@media screen and (min-width: 1025px) {
  footer {
    padding: 35px;
    font-size: 20px;
    animation: add-footer 0.7s linear both 3.5s;
  }
  @keyframes add-footer {
    from {transform: scale(0) translateY(-300px)}
    to {transform: scale(1) translateY(0)}
  }
}



