@import 'variables';

footer {
  padding: 20px;
  background-color: $background-color-1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: #FFEC0D;
  animation: add-footer 0.7s linear both 3.5s;
}
@keyframes add-footer {
  from {transform: scale(0) translateY(-300px)}
  to {transform: scale(1) translateY(0)}
}
@media screen and (max-width: 640px) {
  footer {
    font-size: 12px;
  }
}
@media screen and (min-width: 641px) and (max-width: 1024px) {
  footer {
    font-size: 14px;
  }
}