@import 'variables';

.projects {
  display: flex;
  flex-direction: row;
  position: relative;
  height: 337.5px;
  animation: background-projects 0.6s linear both 3.5s;
  .small-width {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    padding-bottom: 10px;
    color: $text-color-1;
    padding: 25px;
  }
  article {
    overflow: hidden;
    margin: 1%;
    width: 31.33%;
    border: 2px solid $background-color-1;
    border-radius: 5px;
    cursor: pointer;
    transition: 1s;
    background-color: $text-color-1;
    &:nth-child(1), &:last-child {
      width: 100%;
      text-align: center;
      border: 0;
      background-color: inherit;
      cursor: auto;
    }
    &:nth-child(3){
      animation: second-project 0.8s linear both 1.5s;
    }
    &:nth-child(4){
      animation: third-project 1.6s linear both 1.5s;
    }
    &:last-child a {
      display: inline;
      cursor: pointer;
    }
    &:last-child a:hover {
      color: #FFEC0D;
    }
  }
  a{
    transition: 1s;
    &:hover {
      transform: scale(1.5);
      transition: 0.5s;
    }
  }
  h2 {
    animation: my-projects 0.3s linear both 4s;
  }
}
@keyframes background-projects {
  from{background-color: rgba(38, 125, 232, 0)}
  to{background-color: $background-color-1}
}
@keyframes my-projects {
  0% {
    opacity: 0;
    transform: translateY(50px) scale(0.5);
  }
  70% {
    opacity: 0.7;
    transform: translateY(-20px) scale(0.8)
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}
@keyframes second-project {
  0%{transform: translate(-300px,20px)}
  100%{transform: translate(0,0)}
}
@keyframes third-project {
  0%{transform: translate(-600px,40px)}
  100%{transform: translate(0,0)}
}
.hide-projects {
  height: 0;
  transform: scale(0);
}
@keyframes hide-projects {
  from {transform: translate(100px,-300px)}
  to {transform: translate(0,-500px)}
}
.projects-and-canvas {
  width: 1524px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  opacity: 0.2;
  animation: projects1 1.5s linear both,
             projects1-move-down 1s linear forwards 3.5s;
}
@keyframes projects1 {
  from {transform: translate(-1500px,-300px)}
  to {transform: translate(0,-300px);opacity: 1;}
}
@keyframes projects1-move-down {
  from {transform: translate(0,-300px)}
  to {transform: translate(0,0)}
}
.bg-projects {
  opacity: 1;
}
.blue-projects {
  background-color: $background-color-1;
  height: 550px;
}
@media screen and (min-width: 1025px) {
  .project-move0 {
    animation: project-move0 1s linear forwards 0.1s;
  }
  @keyframes project-move0 {
    0% {
      transform: translate(0,0);
    }
    100% {
      transform: translate(0, -50px)
                 scale(1.5);
    }
  }
  .project-move1 {
    animation: project-move1 1s linear forwards 0.1s;
  }
  @keyframes project-move1 {
    0% {
      transform: translate(0,0);
    }
    100% {
      transform: translate(25px, -350px)
                 scale(1.5);
    }
  }
  .project-move2 {
    animation: project-move2 1s linear forwards 0.1s !important;
  }
  @keyframes project-move2 {
    0% {
      transform: translate(0,0);
    }
    100% {
      transform: translate(-300px, 00px)
                 scale(1.5);
    }
  }
  .project-move3 {
    animation: project-move3 1s linear forwards 0.1s !important;
  }
  @keyframes project-move3 {
    0% {
      transform: translate(0,0);
    }
    100% {
      transform: translate(-20px, -350px)
                 scale(1.5);
    }
  }
  .project-move4 {
    animation: project-move4 1s linear both 0.1s;
    display: block !important;
  }
  @keyframes project-move4 {
    0% {
      transform: translate(0,-200px);
    }
    100% {
      transform: translate(305px, -200px)
                 scale(1.5);
    }
  }
}
  