@import 'variables';

.rectangle-div {
  background-color: $rect-background;
  position: fixed;
  top: 0;
  left: 0;
  width: 99vw;
  height: 99vh;
  z-index: -1;
  border:5px solid red;

}
.rectangle {
  background-color: $rect-background;
  position: absolute;
  z-index: -1;
  transition: transform 20s linear, opacity 2s linear 3s;
  opacity: 0;
}

