@import 'variables';

.rectangle {
  background-color: $rect-background;
  position: absolute;
  top: $rect-pos-top;
  left: $rect-pos-left;
  z-index: -1;
  transition: transform 20s linear, opacity 2s linear 3s;
  opacity: 0;
}

