@import 'variables';

.skills {
  height: 337.5px;
  padding-top: 25px;
  .small-width {
    width: 1024px;
    margin: 0 auto;
    font-size: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 30px;
    padding-bottom: 35px;
    color: $text-color-1;
  }
  .small-width ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .small-width li {
    width: 40%; 
  }
}
@media screen and (max-width: 1024px) {
  .skills {
    height: auto;
    background-color: $background-color-1;
    color: $text-color-2;
    animation: show-skills 1s linear both 3.5s; 
    .small-width {
      font-size: 24px;
      line-height: 40px;
    }
  }
  @keyframes show-skills {
    0% {
      transform: translateY(-100px) scale(0);
      opacity: 0;
      background-color: $background-color-2;
    }
    60% {
      transform: translateY(-100px) scale(1);
      opacity: 0;
      background-color: $background-color-2;
    }
    80% {
      transform: translateY(-50px) scale(1);
      opacity: 0.7;
      background-color: $background-color-2;
    }
    100% {
      transform: translateY(0) scale(1);
    }
  }
}
@media screen and (min-width: 1024px) {
  .skills {
    display: none;
    .small-width {
      transform: scale(0);
    }
  }
  .skills-background {
    background-color: $background-color-1;
    display: block;
  }
  .blue-belt {
    background-color: $background-color-1;
    display: block;
  }
}