@import 'variables';

.skills {
  .small-width {
    width: 1024px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $text-color-1;
  }
  .small-width ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .small-width li {
    width: 40%; 
  }
}
@media screen and (max-width: 1024px) {
  .skills {
    padding-top: 10px;
    height: auto;
    background-color: $background-color-1; 
    .small-width {
      font-size: 16px;
      padding-bottom: 10px;
    }
  }
}
@media screen and (min-width: 1025px) {
  .skills {
    padding-top: 25px;
    height: 337.5px;
    display: none;
    .small-width {
      font-size: 20px;
      transform: scale(0);
      line-height: 30px;
      padding-bottom: 35px;
    }
  }
  .skills-background {
    background-color: $background-color-1;
    display: block;
  }
  .blue-belt {
    background-color: $background-color-1;
    display: block;
  }
}