$background-color-1: rgba(38, 125, 232, 0.6);
$background-color-2: rgba(255, 255, 255, 0.6);
$text-color-1: rgb(255, 255, 255);
$text-color-2: rgb(38, 125, 232);
$rect-background: rgba(176, 208, 247, 0.3);